<!-- Fixed header on scroll -->
<header class="fixed-header hide-on-small-and-down">
  <div class="row" style="margin-bottom: 0px;">
        <div class="col s1">
          <a href="/" class="left-align brand-logo"><img width="40px" src="{{asset "img/mark/charcoal-small.png"}}" /></a>
        </div>

        <div class="col s11">
          <ul class="fixed-nav">
            <li><a href="#">Fashion</a></li>
            <li><a href="#">Food</a></li>
            <li><a href="#">Home Design</a></li>
            <li><a href="#">Soul Food</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
  </div>
</header>

<!-- Main Header -->
<header class="main-header hide-on-small-and-down container">
  <div class="row">
    <a href="/" class="main-logo"><img width="160px" src="{{asset "img/logo/charcoal-small.png"}}" /></a>
    <div class="main-nav">
      <ul class="nav-left">
        <li><a href="#">Fashion</a></li>
        <li><a href="#">Food</a></li>
        <li><a href="#">Home Design</a></li>
        <li><a href="#">Soul Food</a></li>
      </ul>
      <ul class="nav-right">
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav-social">
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="/rss"><i class="fa fa-rss"></i></a></li>
      </ul>
    </ul>
  </div>
</header>

<!-- Mobile Header -->
<header class="mobile-header hide-on-med-and-up">
  <div class="row">
    <div class="col s2">
    <a class="button-collapse" href="#" data-activates="nav-mobile"><i style="font-size: 40px; color: #e2e2e2;" class="mdi-navigation-menu"></i></a>
    </div>

    <div class="col s8" style="height: 60px; text-align:center;">
    <a href="/"><img width="40px" style="margin-top: 10px;" src="{{asset "img/mark/charcoal-small.png"}}" /></a>
    </div>

    <ul id="nav-mobile" class="right side-nav">
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>

</header>
