<!-- Section Slideup -->
<section class="section-slideup hide-on-small-and-down">
  <div class="content">
    <h2 style="margin-top: 0px; font-size: 16px; margin-bottom: 0px;">Stay up to date</h2>
    {{> mailchimp}}
  </div>
</section>
