<!-- Section Slideup -->
<section class="section-slideup hide-on-small-and-down">
  <div class="content">
    <h2 style="margin-top: 0px; margin-bottom: 0px;">POPUP</h2>
    <p>Here is the main section for the content</p>
  </div>
</section>
