<!-- Welcome Modal -->
<div id="welcomeModal" class="modal modal-close">
  <h4>Welcome to Post Grad</h4>
  <p>A blog about choosing your own path</p>
  <a href="#" class="waves-effect waves-light btn modal-close">Close</a>
</div>
