{{!< default}}
<div class="row">
  {{> sidebar}}

  <main class="col s12 m8">
    {{#post}}
    <div class="post-divider"></div>

    <header class="post-header">
      <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
    </header>

    <div class="feat-image">
      <img src="{{asset 'img/about-erin-header.png'}}" />
    </div>

    <div class="about-subtitle">
      <p class="bold" style="font-size: 14px;">MEET ERIN</p>
    </div>

    <div class="post-divider"></div>

    <div class="about-content">
      <p>
        Erin lives in Cincinnati with her husband, Colin, and her ever so formal (and french)
        puggle, Mr. Pug. She began writing about fashion on her blog, Reality Chic, back in 2009
        which kicked off her professional career in a very non-traditional way. She began doing things
        like contributing to The Huffington Post, making a guest appearance on All on the Line with Joe Zee,
        and attending New York Fashion Week regularly. After a few years of blogging Erin alongside two co-founders,
        co-founded Canopi, a large blogger network with over 2700 bloggers. Why Post Grad?
        <a href="/about-blog">TAKE A LOOK.</a>
      </p>
    </div>

    <div class="about-questions">
      <p><span>NAME</span> Erin</p>
      <p><span>MY JOB</span> Brand and Digital Marketing in Media</p>
      <p><span>HOME STATE</span> Indiana Hoosier</p>
      <p><span>MY DRINK OF CHOICE IS</span> sweet tea and wine, preferably not together
      <p><span>I ALWAYS HAVE</span> half and half for my coffee <span>IN MY FRIDGE</span></p>
      <p><span>I CAN'T LEAVE THE HOUSE WITHOUT</span> a hair twist</p>
      <p><span>THE MOST SURPRISING SONG ON MY SPOTIFY LIST IS</span> Hans Zimmer</p>
      <p><span>MY DREAM VACATION WOULD BE TO GO TO</span> the beach anywhere</p>
      <p><span>IF THERE WERE NO COMMITMENTS, I WOULD LIVE IN</span> Palm Springs and go to a
        coffee shop <span>EVERYDAY</span></p>
      <p><span>IF YOU WANT TO IMPRESS SOMEONE, I'LL MAKE RESERVATIONS AT</span> a fancy schmancy
        italian restaurant</p>
      <p><span>FOR MY FOOD FIX, I ALWAYS STOP AND GET</span> mexican & order chicken nachos</p>
    </div>

    <div class="about-disclaimer">
      <img src="{{asset 'img/disclaimer.png'}}"/>
    </div>

    <div class="about-disclaimer-text">
      <p><span class="bold">DISCLAIMER</span> As my mom would tell you I've been known to mix up
        the occasional there and their on effect and affect. Don't judge, the english language is hard. :)
      </p>
    </div>

    {{/post}}
  </main>
</div>
