{{!< default}}
<div class="row">
  {{> sidebar}}

  <main class="col s12 m8">
    {{#post}}
    <div class="post-divider"></div>

    <header class="post-header">
      <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
    </header>

    <div class="feat-image">
      <img src="{{asset 'img/about-blog-header.png'}}" />
    </div>

    <div class="about-subtitle">
      <p class="bold" style="font-size: 14px;">
        WELL, HELLO THERE AND WELCOME TO POST GRAD! <br>
        I WANTED TO CREATE A SPACE THAT ALLOWED US TO FEEL A <br>
        LITTLE MORE SANE AND A LITTLE LESS ALONE IN <br>
        THE WORLD. NOT A TALL ORDER AT ALL.
      </p>
    </div>

    <div class="post-divider"></div>

    <div class="about-content">
      <p>
        I'm not a spiritual guru and in no way, shape or form claiming to be an expert on life.
        Though after watching years of The Oprah Show, some Super Soul Sunday on OWN and reading
        O Magazine you'd think that would count for something. But I digress... Instead, I'm a real
        person (<span class="italic">opposed to the robot writing this</span>) going through real experiences
        and in the midst of trying to figure out how this whole complicated formula of succcess + happiness
        + balance + life + career as a girl thing, all makes sense. Needless to say, I haven't figured it
        all out. Hence the reason I'm writing a blog and not a book. Sigh.
      </p>

      <p>
        I must say I was one of the lucky ones. My story post graduation didn't quite start out like I had
        planned. But I learned early and quickly that a path worth taking wouldn't be one where there is a
        smooth black pavement left by the summer construction workers just a few days earlier sort of road.
        Instead, it would resemble something more like a forest, very Twilight-ish minus Robert Pattinson
        sparking, and I'd be armed with a weed whacker that I've never used. Because I'm not a landscaper.
        Probably not a surprise given the first two paragraphs and a confession about how much I like Oprah.
      </p>

      <p>
        My hope is that Post Grad will inspire others to start designing their own path in the most simple
        ways, and that on this blog I'll be able to share eye-opening lessons I wish someone would have told me,
        things I'm still trying to figure out and bits of personal style I really can't resist. And we... the
        collective we...can begin to use this little corner of the inter webs as a space to realize that our post grad
        lives may be messy, but that we still have a choice in how our lives turn out. And that the choice we
        have is ever more apparent today.
      </p>

      <p>
        It may sound a bit ambitious but hey you gotta start somewhere, right? And why not here.
      </p>

      <p>
        So whether you're twenty two and fresh out of college on the verge of a panic attack or in your thirties
        still trying to figure it out, also on the verge of a panic attack, you my friend(s) are not alone. And
        this blog is...for...you!
      </p>
    </div>

    <div class="post-divider"></div>

    <div class="about-footer">
      <p><span>sincerely your fellow post grad,</span><p>
      <p class="bold">ERIN</p>
    </div>

    {{/post}}
  </main>
</div>
